@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Index";
}

<style>
    #card {
        width: 18rem;
        border-radius: 25px;
    }
    #code {
        /*display: hidden;*/
        visibility: hidden;
    }
</style>

@if(Model != null)
{
    @foreach(var code in Model.current.weather)
    {
        <p id="code">@code.icon</p>
    }
    <div class="mx-auto">
        <h1 class="mx-auto">Weather for your location</h1>
    </div>

    <div class="card mx-auto" id="card">
        <img class="mx-auto" src="" id="weatherPic" style="width: 5rem;" />
        <div class="card-body mx-auto">
            <p class="mx-auto">Temperature is @Model.current.temp</p>
            <p class="mx-auto">Feels like @Model.current.feels_like</p>
            <p class="mx-auto">Wind: @Model.current.wind_speed m/s, gusting: @Model.current.wind_gust m/s</p>
            <p class="mx-auto">Wind is coming from @Model.current.wind_deg</p>
        </div>
    </div>
}
else
{
    <p>Model is empty</p>
}

<script src="~/js/Card.js" asp-append-version="true"></script>