@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Index";
}

<style>
    #card {
        width: 18rem;
        border-radius: 25px;
    }
    #code {
        display: hidden;
    }
</style>


@if(Model != null)
{
    @foreach(var code in Model.Weather)
    {
        <p id="code">@code.icon</p>
    }
    

    <div class="card mx-auto" id="card">
        <h5 class="mx-auto">Weather for @Model.name</h5>
        <img class="mx-auto" src="" id="weatherPic" style="width: 5rem;" />
        <div class="card-body mx-auto">
            <p class="mx-auto">Temperature is @Model.main.temp</p>
            <p class="mx-auto">Feels like @Model.main.feels_like</p>
            <p class="mx-auto">Wind: @Model.wind.speed, gusting: @Model.wind.gust</p>
            <p class="mx-auto">Wind is coming from @Model.wind.deg</p>
        </div>
    </div>

}
else
{
    <p>Model is empty</p>
}


<script src="~/js/Card.js" asp-append-version="true"></script>