@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Index";
}

<style>
    #card {
        width: 22rem;
        border-radius: 25px;
    }
    #card2 {
        width: 22rem;
        border-radius: 25px;
    }
    #code {
        visibility: hidden;
    }
</style>

@if(Model != null)
{
    @foreach(var code in Model.current.weather)
    {
        <p id="code">@code.icon</p>
    }

    <div class="card mx-auto" id="card">
        <div class="card-header">
            <h4 class="mx-auto">Weather for your location<br /></h4>
        </div>
        <div class="card-body mx-auto">
            <img class="mx-auto" src="" id="weatherPic" style="width: 5rem;" />
            <p class="mx-auto">Temperature is @Model.current.temp°</p>
            <p class="mx-auto">Feels like @Model.current.feels_like°</p>
            <p class="mx-auto">Wind: @Model.current.wind_speed m/s, gusting: @Model.current.wind_gust m/s</p>
            <p class="mx-auto">Wind is coming from @Model.current.wind_deg°</p>
        </div>
    </div>
    <p><br /></p>

    <div class="card mx-auto" id="card2">
        <div class="card-header">
            <h4>Weather for the next 8 days</h4>
        </div>
        <div class="card-body">
            @foreach(var daily in Model.daily)
            {
                <p>@DateTime.Now.DayOfWeek</p>
                <p>temp morning = @daily.temp.morn°, temp daytime = @daily.temp.day°, wind = @daily.wind_speed m/s gusting @daily.wind_gust m/s from @daily.wind_deg</p>
                <p></p>
            }
        </div>
    </div>


}
else
{
    <p>Model is empty</p>
}

<script src="~/js/Card.js" asp-append-version="true"></script>