@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Weather";
}

<style>
    #card {
        width: 22rem;
        border-radius: 25px;
    }
    #card2 {
        width: 22rem;
        border-radius: 25px;
    }
    #card-header {
        border-radius: 25px; 
    }
    #code {
        visibility: hidden;
    }
    #table {
        width: 20rem;
    }
    tr {
        padding: 15px;
    }
    #body1{
        display: none;
    }
    #body2{
        display: none;
    }
    #body3{
        display: none;
    }
    #body4{
        display: none;
    }
    #body5{
        display: none;
    }
    #body6{
        display: none;
    }
    #body7{
        display: none;
    }
</style>

@if(Model != null)
{
    @foreach(var code in Model.current.weather)
    {
        <p id="code">@code.icon</p>
    }

    <div class="card mx-auto" id="card">
        <div class="card-header" id="card-header">
            <h4 class="mx-auto">Weather for your location<br /></h4>
        </div>
        <div class="card-body mx-auto">
            <img class="mx-auto" src="" id="weatherPic" style="width: 5rem;" />
            <p class="mx-auto">Temperature is @Model.current.temp°</p>
            <p class="mx-auto">Feels like @Model.current.feels_like°</p>
            <p class="mx-auto">Wind: @Model.current.wind_speed m/s, gusting: @Model.current.wind_gust m/s</p>
            <p class="mx-auto">Wind is coming from @Model.current.wind_deg°</p>
        </div>
    </div>
    <p><br /></p>

    <div class="card mx-auto" id="card2">
        <div class="card-header" id="card-header">
            <h4>Weather for the next 7 days</h4>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Monday</h6>
            </div>
            <div class="card-body" id="body1">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[0].temp.morn</td>
                        <td>@Model.daily[0].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[0].temp.day</td>
                        <td>@Model.daily[0].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[0].temp.day</td>
                        <td>@Model.daily[0].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[0].temp.eve</td>
                        <td>@Model.daily[0].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Tuesday</h6>
            </div>
            <div class="card-body" id="body2">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[1].temp.morn</td>
                        <td>@Model.daily[1].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[1].temp.day</td>
                        <td>@Model.daily[1].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[1].temp.day</td>
                        <td>@Model.daily[1].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[1].temp.eve</td>
                        <td>@Model.daily[1].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Wednesday</h6>
            </div>
            <div class="card-body" id="body3">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[2].temp.morn</td>
                        <td>@Model.daily[2].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[2].temp.day</td>
                        <td>@Model.daily[2].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[2].temp.day</td>
                        <td>@Model.daily[2].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[2].temp.eve</td>
                        <td>@Model.daily[2].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Thursday</h6>
            </div>
            <div class="card-body" id="body4">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[3].temp.morn</td>
                        <td>@Model.daily[3].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[3].temp.day</td>
                        <td>@Model.daily[3].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[3].temp.day</td>
                        <td>@Model.daily[3].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[3].temp.eve</td>
                        <td>@Model.daily[3].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Friday</h6>
            </div>
            <div class="card-body" id="body5">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[4].temp.morn</td>
                        <td>@Model.daily[4].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[4].temp.day</td>
                        <td>@Model.daily[4].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[4].temp.day</td>
                        <td>@Model.daily[4].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[4].temp.eve</td>
                        <td>@Model.daily[4].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Saturday</h6>
            </div>
            <div class="card-body" id="body6">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[5].temp.morn</td>
                        <td>@Model.daily[5].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[5].temp.day</td>
                        <td>@Model.daily[5].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[5].temp.day</td>
                        <td>@Model.daily[5].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[5].temp.eve</td>
                        <td>@Model.daily[5].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card mx-auto" id=card2>
        <div class="card mx-auto" id="card2">
            <div class="card-header" id="card-header">
                <h6>Sunday</h6>
            </div>
            <div class="card-body" id="body7">
                <table id="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Temp</th>
                        <th scope="col">Feels like</th>
                    </tr>
                    <tr>
                        <th scope="row">Morning</th>
                        <td>@Model.daily[6].temp.morn</td>
                        <td>@Model.daily[6].feels_like.morn</td>
                    </tr>
                    <tr>
                        <th scope="row">Daytime</th>
                        <td>@Model.daily[6].temp.day</td>
                        <td>@Model.daily[6].feels_like.day</td>
                    </tr>
                    <tr>
                        <th scope="row">Evening</th>
                        <td>@Model.daily[6].temp.day</td>
                        <td>@Model.daily[6].feels_like.eve</td>
                    </tr>
                    <tr>
                        <th scope="row">Night</th>
                        <td>@Model.daily[6].temp.eve</td>
                        <td>@Model.daily[6].feels_like.night</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p>Model is empty</p>
}

<script src="~/js/Card.js" asp-append-version="true"></script>