@model ApiPlayground.Models.Root


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if(Model != null)
{
    <p>@Model.main.temp celsius</p>
    <p>Feels like @Model.main.feels_like</p>
    <p>Wind is blowing with @Model.wind.speed m/s, gusting @Model.wind.gust m/s from @Model.wind.deg degree</p>
}
else
{
    <p>Model is empty</p>
}